$main-bg: #2E2E49
$header-bg: #242438
$dark-bg: #0e0c13
$light-bg: #414372
$green: #1e8b81
$light-green: #26b0a4
$dark-green: #16625b

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  color: #FFF
  background: $main-bg
  font-family: Prompt, sans-serif

button
  cursor: pointer

button, textarea, input
  font-family: inherit
  font-size: inherit
  color: inherit
  letter-spacing: 1px
  border: none
  &:focus
    outline-color: #FFC696

#root
  min-height: 100vh
  display: flex
  align-items: center
  justify-content: center

#nickname
  height: 50px
  background: $dark-bg
  color: #fff
  padding-left: 10px
  font-size: 18px
  & ~ button
    height: 50px
    background: $light-green
    padding: 0 20px
    color: #FFF
    font-size: 18px
    transition: background 200ms
    &:hover
      background: $green
    &:active
      background: $dark-green

.layout
  flex: 1
  display: grid
  grid-template: repeat(10, 10vh) / 200px repeat(8, 1fr) 200px

.room
  &__tabs
    grid-column: 2 / 10
    grid-row: 1 / 2
    display: flex
    align-items: center
    background: $header-bg
  &__tab
    max-height: 50px
    display: flex
    cursor: pointer
    text-overflow: ellipsis
    align-items: center
    white-space: nowrap
    overflow: hidden
    background: $light-bg
    &.active
      background: $dark-bg
    &__text
      flex: 1
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis
      padding: 0 20px
    &__icon
      height: 100%
      flex: 0 0 auto
      padding: 0.2em
      &:hover
        background: red

.users__list
  display: none
  flex-direction: column
  padding: 10px
  &.active
    display: flex
  &__container
    grid-column: 1 / 2
    grid-row: 2 / 11
    background: $main-bg
  &__item
    display: flex
    align-items: center
    flex-direction: row-reverse
    justify-content: flex-end
    background: $light-bg
    margin-bottom: 10px
    padding: 5px 0

.user
  &__nickname
    line-height: 1.6
  &__status
    display: inline-block
    align-items: center
    margin: 0 10px
    &.user--online
      fill: #4dec0b
    &.user--away
      fill: #deec0b

.active-path
  fill: red

.rooms__list
  grid-column: 10 / 11
  grid-row: 2 / 10
  background: $main-bg
  display: flex
  flex-direction: column
  padding: 10px
  &__btn
    background: $light-bg
    margin-bottom: 10px
    padding: 5px 0
    transition: background 200ms
    &:hover
      background: $dark-bg

.open__room
  grid-column: 10 / 11
  grid-row: 10 / 11
  background: $main-bg
  display: flex
  flex-direction: column
  z-index: 60
  &__input
    flex: 1
    background: $dark-bg
    padding-left: 10px
  &__btn
    flex: 1
    background: $dark-green
    transition: background 200ms
    &:hover
      background: $green
    &:active
      background: $dark-green

.chat
  &__box
    position: relative
    grid-column: 2 / 10
    grid-row: 2 / 10
    display: flex
    align-items: flex-end
    background: $dark-bg
    &--highlited
      box-shadow: 0 0 5px 2px #b605ff
  &__input
    &__container
      background: $header-bg
      grid-column: 2 / 10
      grid-row: 10 / 11
      display: flex
    &__textarea
      flex: 3
      resize: none
      background: $header-bg
      padding: 5px 0 0 10px
    &__btn
      flex: 1
      background: $light-green
      transition: background 200ms
      font-size: 30px
      letter-spacing: 2px
      &:hover
        background: $green
      &:active
        background: $dark-green

.messages__list
  display: none
  max-height: 100%
  flex: 1
  overflow-y: auto
  flex-direction: column
  background: $light-bg
  &.active
    display: flex

.message
  padding: 10px
  &__time
    display: inline-block
    width: 75px
    margin: 0 15px
  &__nickname
    display: inline-block
    width: 50px
  &__body
    margin-left: 10px
  &__iframe
    max-width: 480px
    margin: 0 auto
    display: block
  &--self
  &--admin
    font-style: italic
    font-weight: 300
  &--user

@media (max-width: 900px)
  .layout
    grid-template: repeat(10, 10vh) / 120px repeat(8, 1fr) 120px
