$main-bg: #2E2E49
$header-bg: #242438
$dark-bg: #111229
$light-bg: #414372
$light-green: #20cdbd

*
  margin: 0
  padding: 0
  box-sizing: border-box

body
  color: #FFF
  background: $main-bg
  font-family: Prompt, sans-serif
  letter-spacing: 1px

button
  cursor: pointer

button, textarea, input
  font-family: inherit
  color: inherit
  letter-spacing: 1px
  border: none
  &:focus
    outline-color: #FFC696

.layout
  display: grid
  grid-template: repeat(10, 10vh) / repeat(10, 1fr)

.room__tabs
  grid-column: 2 / 10
  grid-row: 1 / 2
  display: flex
  background: $header-bg

.room__tab
  display: flex
  cursor: pointer
  text-overflow: ellipsis
  align-items: center
  white-space: nowrap
  overflow: hidden
  background: $light-bg
  &.active
    background: $light-green
  &__text
    flex: 1
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
  &__btn
    flex: 0 0 auto
    background-color: #ccc
    padding: .5em

.users__list
  display: none
  flex-direction: column
  padding: 10px
  &.active
    display: flex
  &__container
    grid-column: 1 / 2
    grid-row: 2 / 11
    background: $main-bg
  &__item
    display: flex
    align-items: center
    flex-direction: row-reverse
    justify-content: flex-end
    background: $light-bg
    margin-bottom: 10px
    padding: 5px 0
    .user__nickname
      line-height: 1.6
    .user__status
      display: inline-block
      align-items: center
      margin: 0 10px
      &.user--online
        fill: #4dec0b
      &.user--away
        fill: #deec0b

.active-path
  fill: red

.rooms__list
  grid-column: 10 / 11
  grid-row: 2 / 10
  background: $main-bg
  display: flex
  flex-direction: column
  padding: 10px
  &__btn
    background: $light-bg
    margin-bottom: 10px
    padding: 5px 0

.open__room
  grid-column: 10 / 11
  grid-row: 10 / 11
  background: $main-bg
  display: flex
  flex-direction: column
  &__input
    flex: 1
    background: $dark-bg
    padding-left: 10px
  &__btn
    flex: 1
    background: $main-bg

.chat
  &__box
    grid-column: 2 / 10
    grid-row: 2 / 10
    display: flex
    align-items: flex-end
    background: $dark-bg
  &__input
    &__container
      background: $header-bg
      grid-column: 2 / 10
      grid-row: 10 / 11
      display: flex
    &__textarea
      flex: 2
      resize: none
      background: $header-bg
      padding: 5px 0 0 10px
    &__btn
      flex: 1
      background: #2f2f3c

.messages__list
  display: none
  max-height: 100%
  background: #313a49
  flex: 1
  overflow-y: auto
  &.active
    display: block
